a{
    color: rgb(255, 255, 255);
    
}
a:hover{
    
    color: #ffa500;
}

a:link {
text-decoration:none;
}

.bg-blue {
    background-color: rgb(21, 140, 219);
}

h4{
    color: darkorange;
    font-weight: bold;
}

.rodape{
    height: 35vh;
}